<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "Home") %>
    <title><%= yield(:title) %></title>
  </head>
  <body>
  <% if logged_in? %>
    <%=render 'users/current_user' %>
  <% else %>
    <%=render 'static_pages/default_home_content' %>
  <%end %>  
  </body>

</html>